
.env
*.env


*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


node_modules/
__pycache__/
.venv/
venv/


dist/
build/
*.pyc
*.pyo
*.exe
*.dll
*.so
*.dylib


.vscode/
.idea/
*.sublime-workspace
*.sublime-project


.DS_Store
Thumbs.db


*.sqlite3
*.db


config.json
*.pem
*.key
*.crt


*.tar.gz
*.zip